
.navbar .container .topBtn{
	text-decoration: none;
	padding: 3px 6px ;
	margin: 8px 10px 0 0;
	width: 80px;
	text-align: center;
	font-size: 16px;
    font-weight: normal;
    font-family: "微软雅黑";
}
.navbar .container a{
	color: #7c7c7c;
	border:1px solid #dddddd; 
}
.navbar .container a:hover{
	border:1px solid #2a96ff;
	color: #2a96ff;
}
.navbar .nav-bottom{
	background: url('../img/banner.jpg') no-repeat 50% 50%;;
	height: 500px;
}



.handSearch .container .inSearch{
	float: right;
	margin-right: -100px;
}
.nav-bottom .nav-menu{
	width: 100%;
	height: 100px;
	background: #1e50ae;
}
.nav-bottom .Title{
	margin: 10px auto;
}
.nav-bottom .nav-menu a{
	text-decoration: none;
	color: white;
	display: block;
	width: 100%;
}

.nav-bottom .navTitle{
	height: 100px;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	padding: 0;
}
.nav-bottom .nav-menu .active:hover{
	background-color:#13439d;
}

.content .container .handTitle{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin-top: 10px;
	width:100px;
	height:50px;
	text-align: center;
	background-color: #2a96ff;
}
.content .container .handTitle span{
	font-size:18px;
	color: #FFFFFF;
	line-height: 3;
}
.content .container .footHr{
	border-bottom: 2px solid #2a96ff;
}
.content .container .carouselImg{
	width:360px;
	overflow: hidden;
	margin-top: 5px;
}

.content .container .inLine{
	border-bottom: 1px dashed #2a96ff;
	overflow: hidden;
	letter-spacing: 1px;
	line-height: 3;
}
.content .container .inLine a{
	text-decoration: none;
	font-size: 16px;
}
.content .container .qrCode{
	width: 100px;
	height: 100px;
}
.content .container .code{
	position: absolute;
	width:100px;
	height:100px;
	right: 3%;
	top:30%;
}
.footer {
	font-size: 18px;
	text-align: center;
	margin: 10px;
}
.footer  a{
	text-decoration: none;
}
.footer .container .row li{
	border:1px solid ;
	list-style: none;
}