body{
	padding:70px;

}
header,footer, nav div, section, aside, article{
	border:1px dotted #f0f0f0;
	border-radius:5px;
}
.navbar .container .topBtn{
	float: right;
	text-decoration: none;
	padding: 3px 6px ;
	margin: 8px 10px 0 0;
	width: 80px;
	text-align: center;
	font-size: 16px;
    font-weight: normal;
    font-family: "微软雅黑";
}
.navbar .container a{
	color: #7c7c7c;
	border:1px solid #dddddd; 
}
.navbar .container a:hover{
	border:1px solid #2a96ff;
	color: #2a96ff;
}
.navbar .container .collection{
	float: left;
}

.navbar .container .homePage{
	float: left;
}
.handSearch .container .row .logoImg{
	margin-right: 10px;
}
.handSearch .container .row span{
	font-size:30px;
}
.handSearch .container .btnSub{
	float: right;
}
.handSearch .container .inSearch{
	float: right;
	margin-right: -100px;
}
/*.content .Title{*/
	/*margin: 10px auto;*/
/*}*/
/*.content a{*/
	/*text-decoration: none;*/
	/*color: #7c7c7c;*/
	/*display: block;*/
	/*width: 100%;*/
/*}*/

/*.content .navTitle{*/
	/*border:1px solid;*/
	/*height: 50px;	*/
	/*text-align: center;*/
	/*line-height: 50px;*/
	/*font-size: 18px;*/
	/*padding: 0;*/
/*}*/
/*.content .active:hover{*/
	/*background-color:#2a96ff; */
	/*color: #ffffff;*/
/*}*/

.content .container .handTitle{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin-top: 10px;
	width:100px;
	height:50px;
	text-align: center;
	background-color: #2a96ff;
}
.content .container .handTitle span{
	font-size:18px;
	color: #FFFFFF;
	line-height: 3;
}
.content .container .footHr{
	border-bottom: 2px solid #2a96ff;
}
.content .container .carouselImg{
	margin: 5px;
}

.content .container .inLine{
	border-bottom: 1px dashed #2a96ff;
	overflow: hidden;
	letter-spacing: 1px;
	line-height: 3;
}
.content .container .inLine a{
	text-decoration: none;
	font-size: 16px;
}
.content .container .qrCode{
	width: 100px;
	height: 100px;
}
.content .container .code{
	position: absolute;
	width:100px;
	height:100px;
	right: 3%;
	top:30%;
}
.footer {
	font-size: 18px;
	text-align: center;
	margin: 10px;
}
.footer  a{
	text-decoration: none;
}
.footer .container .row li{
	border:1px solid ;
	list-style: none;
}